* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #58acf7;
  color: #fff;
}
nav a {
  color: #fff;
  padding: 0 20px;
  display: inline-block;
}
.content {
  background-color: #b1b2b3;
  padding: 20px 50px;
  color: #fff;
  min-height: calc(100vh - 62px);
}
.blogs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.post {
  width: 49%;
  background-color: #7bbffa;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0, .3);
  padding: 10px;
}
.post h3 {
  margin-bottom: 10px;
}
.edit-blog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.sidebar-post {
  width: 100%;
  margin: 5px auto;
  background-color: #7bbffa;
  height: 80px;
  display: block;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto 0;
}
label {
  margin: 20px 0 5px;
}
form input {
  height: 40px;
  padding: 0 0 0 10px;
}
form textarea {
  height: 150px;
  padding: 10px 0 0 10px;
}
button {
  background-color: #58acf7;
  height: 30px;
  width: 150px;
  margin: 20px 0 0;
  color: #fff;
  border: none;
}